//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark-Transparent.rasi"

//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "/usr/share/rofi/themes/Arc-Dark-Transparent.rasi"
